:root {
    --main-color: #30a13d;
    --player-color: purple;
    --active-color: darkgreen;
    --text-color: black;
    --highlight: #65e073;
    --selected-page: #96f68f;
    --hover-playlist: #f2f2f2;
}

main {
    display: flex;
    flex-direction: column; 
}

#titre {
    position: absolute;
    font-size: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
}

#legende {
    color: #857f7f;
}

.tableau {
    display: grid;
    flex-direction: column;
    grid-template-columns: repeat(8, 1fr);
    justify-content : space-between;
}

.tableau > div {
    max-width: auto;
    max-height: auto;
    overflow: hidden;
}